{% extends 'base.html' %}
{% load static %}
{% block content %}
    <p><q lang="ru">Мы беспокоимся о том, чтобы вы не беспокоились</q> - Толстой Д. В., основатель компании</p>
    <p><q>sjdvnjs aKSlsadasdla</q> - W. Churchill, основатель компании</p>
    <dl>
        <dt><strong>Страхование</strong></dt>
        <dd><p class="article">В научной литературе представлено многообразие дефиниций термина <q>страхование</q>. Широта и многогранность
            страхования, включающей финансовый, юридический, социально-экономический аспекты, затрудняет формулирование
            универсального определения данной категории. С точки зрения О. Н. Ефимова, страхование представляет собой
            экономическую категорию, систему форм и методов создания целевых денежных фондов и их использования для
            возмещения потерь, наступивших в результате различных неблагоприятных явлений, а также с целью оказания
            помощи гражданам при наступлении определённых жизненных событий. И. Л. Шамраева полагает, что по своей
            экономико-юридической сущности страхование выступает законодательно закреплённым способом материального
            возмещения потерь, понесённых одним лицом, путём их разложения на многих лиц. По мнению Л. И. Рейтмана,
            страхованием является <q>совокупность особых замкнутых перераспределительных отношений между его участниками
            по поводу формирования за счёт денежных взносов целевого страхового фонда, предназначенного для возмещения
            возможного чрезвычайного и иного ущерба предприятиям и организациям или оказания денежной помощи
            гражданам</q>. Авторы книги для страхователей <q>Страхование от А до Я</q> определяют страхование как <q>особый вид
            экономической деятельности, связанный с перераспределением риска нанесения ущерба имущественным интересам
            среди участников страхования (страхователей) и осуществляемый специализированными организациями
            (страховщиками), обеспечивающими аккумуляцию страховых взносов, образование страховых резервов и
                осуществление страховых выплат при нанесении ущерба застрахованным имущественным интересам</q>.</p>


        </dd>
        <dd><p>В ст. 2 Закона РФ <q>Об организации страхового дела в Российской Федерации</q> от <time datetime="1992-11-27">27 ноября 1992</time> № 4015-1
            страхование применительно к российской действительности определено как <q>отношения по защите интересов
            физических и юридических лиц, Российской Федерации, субъектов Российской Федерации и муниципальных
            образований при наступлении определённых страховых случаев за счёт денежных фондов, формируемых
            страховщиками из уплаченных страховых премий (страховых взносов), а также за счёт иных средств
                страховщиков</q>.</p>
        </dd>
    </dl>
    <aside>
        Тут могла быть ваша реклама
    </aside>
    <style>
    td {
        border: solid 2px darkgray;
    }
    </style>
    <table>
        <tr>
            <th>Шутка</th>
            <th>Рандомное занятие</th>
        </tr>
        <tr>
            <td>{{ joke1 }}</td>
            <td>{{ activity1 }}</td>
        </tr>
        <tr>
            <td>{{ joke2 }}</td>
            <td>{{ activity2 }}</td>
        </tr>
        <tr>
            <td>{{ joke3 }}</td>
            <td>{{ activity3 }}</td>
        </tr>
    </table>

    <strong>Количество страховок на данный момент - {{ active_contracts }}</strong>

    <div class="certificate">
        <div class="background-image"></div>
        <div class="border"></div>
        <div class="text">
            <p>СЕРТИФИКАТ</p>
            <h1>Награждается</h1>
            <h2>СКДТ</h2>
            <p>за выдающиеся достижения</p>
            <p>в области</p>
            <h3>Страхования</h3>
            <p>2023 год</p>
        </div>
    </div>
{% endblock %}