{% extends 'base.html' %}
{% block content %}
    <h1>Наши агенты</h1>
    <a href="/insurance_agents?sort=first_name">Сортировать по имени</a>
    <a href="/insurance_agents?sort=total_earning">Сортировать по заработку</a>
       

{% for a in agents %}
<div class="card">
    <ul>
        <li>
            <p>Имя: {{ a.first_name }}</p>
            <p>Фамилия: {{ a.last_name }}</p>
            <p>Отчество: {{ a.surname }}</p>
            <p>Адрес: {{ a.address }}</p>
            <p>Телефон: {{ a.phone_number }}</p>
            <p>Агенство: {{ a.ins_branch.name }}</p>
            <p>Заработанные деньги: {{ a.total_earning }} $</p>
        </li>
    </ul>    
</div>
{% endfor %}
{% endblock %}
