<!DOCTYPE html>
{% load static %}
{% load insurance_tags %}
<html lang="ru">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- INCLUDE CSS -->
	{% load bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	<!-- Панель навигации -->
	<!-- Панель ссылок -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">

            {% show_menu %}

			<!-- Информация пользователя -->
			{% if not user.is_authenticated %}
			<ul class="navbar navbar-nav ms-auto">
				<li><a class="navbar-text" href="{% url 'register' %}"> Регистрация </a></li>
				<li><a class="navbar-brand"></a></li>
				<li><a class="navbar-text" href="{% url 'login' %}"> Войти </a></li>
			</ul>
			{% else %}
			<div class="dropdown ms-4 nav-color">
				<button class="btn btn-secondary dropdown-toggle"
						type="button" id="dropdownMenuButton"
						data-bs-toggle="dropdown"
						aria-expanded="false">
					{{ user }}
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li>
						<span class="dropdown-item-text">
							{{ user }}
						</span>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<form id="logoutForm" class="form-inline">
							<a class="nav-link" href="{% url 'logout' %}">
								Выйти из профиля
							</a>
						</form>
					</li>
				</ul>
			</div>
			{% endif %}
			<!-- Информация пользователя - конец -->
		</div>
	</nav>

  	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
            {% show_second_menu cat_selected=request.path %}
		</div>
  	</nav>

    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>

	{% block content %}
	{% endblock %}

<!-- Footer -->
<!-- Конец footer'а и страницы -->
</body>
</html>
