<!DOCTYPE html>
{% load static %}
{% load insurance_tags %}
<html lang="ru">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<!-- Панель навигации -->
	<!-- Панель ссылок -->
	{% show_menu %}

	<!-- Информация пользователя -->
	{% if not user.is_authenticated %}
	<ul>
		<li><a href="{% url 'register' %}"> Регистрация </a></li>
		<li><a href="{% url 'login' %}"> Войти </a></li>
	</ul>
	{% else %}
	<ul>
		<li>
			<span> {{ user }} </span>
		</li>
		<li>
			<a class="nav-link" href="{% url 'logout' %}"> Выйти из профиля </a>
		</li>
	</ul>
	{% endif %}
	<!-- Информация пользователя - конец -->


	{% show_second_menu cat_selected=request.path %}

    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>

	{% block content %}
	{% endblock %}

<!-- Footer -->
<!-- Конец footer'а и страницы -->
</body>
</html>
