<!DOCTYPE html>
{% load static %}
{% load insurance_tags %}
<html lang="ru">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- INCLUDE CSS -->
	{% load bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>
	<!-- Панель навигации -->
	<!-- Панель ссылок -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container nav-justified">

            {% show_menu %}

			<!-- Информация пользователя -->
			{% if not user.is_authenticated %}
			<ul class="navbar navbar-nav ms-auto">
				<li><a class="navbar-text" href="{% url 'register' %}"> Регистрация </a></li>
				<li><a class="navbar-brand"></a></li>
				<li><a class="navbar-text" href="{% url 'login' %}"> Войти </a></li>
			</ul>
			{% else %}
			<div class="dropdown ms-4 nav-color">
				<button class="btn btn-secondary dropdown-toggle"
						type="button" id="dropdownMenuButton"
						data-bs-toggle="dropdown"
						aria-expanded="false">
					{{ user }}
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li>
						<span class="dropdown-item-text">
							{{ user }}
						</span>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<form id="logoutForm" class="form-inline">
							<a class="nav-link" href="{% url 'logout' %}">
								Выйти из профиля
							</a>
						</form>
					</li>
				</ul>
			</div>
			{% endif %}
			<!-- Информация пользователя - конец -->
		</div>
	</nav>

  	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
            {% show_second_menu cat_selected=request.path %}
		</div>
  	</nav>

    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    </div>

	{% block content %}
	{% endblock %}

<!-- Footer -->
<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Компания Толстого Дмитрия</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><img src="{% static 'images/facebook.png' %}" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="{% static 'images/github.png' %}" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><img src="{% static 'images/instagram.png' %}" width="24" height="24"></a></li>
    </ul>
  </footer>
</div>
<!-- Конец footer'а и страницы -->
</body>
</html>
