{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h1>Возможные виды страхований</h1>

    {% block ad %}
    <div class="ad">
        <a id="ad_href" href="https://1xbet.by/">
            <img id="ad_img" src="{% static 'images/ad1.png' %}" alt="Реклама">
        </a>
    </div>
    {% if user.is_staff or user.is_superuser %}
        <form id="AdDurationForm" style="margin: 20px">
            <label for="durationInput">Длительность рекламы</label>
            <input type="text" name="duration" id="durationInput" placeholder="Введите время (мс)">
            <br>
            <button class="button" id="changeDuration">Применить</button>
        </form>
    {% endif %}
    {% endblock %}

    <a href="?sort=name">Сортировать по имени</a>
    <a href="?sort=ins_coef">Сортировать по стоимости страховки</a>
            
    <p>Шутка: {{ joke }}</p>
    <p>Рандомное занятие: {{ activity }}</p>
    <div class="card">
        <ul>
            {% for p in categories %}
                <li>
                    <img src="{{ p.photo.url }}" alt="Card image cap">
                    <h2>{{ p.name }}</h2>
                    <p>{{ p.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}