{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h1>Возможные виды страхований</h1>


    {% block ad %}
        <div class="container">
            <div class="card" style="width: 250px; height: 150px; margin: 10px; float:right;">
                  <img src="{% static 'images/adv.png' %}" class="card-img-top" alt="Реклама">
              <div class="card-body">
                  <a class="card-text" href="https://1xbet.by/">Регистрируйся по ссылке и потрать все деньги с зарплаты!</a>
              </div>
        </div>
    {% endblock %}

    <div class="d-flex flex-column">
        <div class="p2">
            <a class="btn btn-outline-primary" href="?sort=name" style="margin: 5px">Сортировать по имени</a>
        </div>
        <div class="p2">
            <a class="btn btn-outline-primary" href="?sort=ins_coef" style="margin: 5px">Сортировать по стоимости страховки</a>
        </div>
    </div>
    <p><q>Мы беспокоимся о том, чтобы вы не беспокоились</q>Толстой Д. В., основатель компании</p>
    <p>Шутка: {{ joke }}</p>
    <p>Рандомное занятие: {{ activity }}</p>
    <ul class="list-articles">

    {% for p in categories %}
        <li class="card w-50" style="width: 32rem;">
            <img class="card-img-top" src="{{ p.photo.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.content }}</p>
            </div>
        </li>
        <br>
    {% endfor %}
    </ul>
    {% endblock %}

</div>
