{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h1>Возможные виды страхований</h1>


    {% block ad %}
        <a href="https://1xbet.by/">
            <img src="{% static 'images/adv.png' %}" class="card-img-top" alt="Реклама">
            <p class="card-text">Регистрируйся по ссылке и потрать все деньги с зарплаты!</p>
        </a>
    {% endblock %}

    <a href="?sort=name">Сортировать по имени</a>
    <a href="?sort=ins_coef">Сортировать по стоимости страховки</a>
        
    <p>Шутка: {{ joke }}</p>
    <p>Рандомное занятие: {{ activity }}</p>
    <ul class="list-articles">

    {% for p in categories %}
        <li class="card w-50" style="width: 32rem;">
            <img class="card-img-top" src="{{ p.photo.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.content }}</p>
            </div>
        </li>
        <br>
    {% endfor %}
    </ul>
    {% endblock %}

</div>
