{% extends 'base.html' %}
{% block content %}
{% for msg in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>Внимание!</strong> {{ msg }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
<h1>Ваши страховки</h1>
<p style="font-size:75%;"><a href="/my_insurance_contracts?sort=time_create">Сортировать по времени создания</a></p>
<p style="font-size:75%;"><a href="/my_insurance_contracts?sort=time_end">Сортировать по времения окончания страховки</a></p>
<p style="font-size:75%;"><a href="/my_insurance_contracts?sort=total_cost">Сортировать по общей стоимости страховки</a></p>
<ul class="list-articles">
	{% for p in contracts %}
			<li><div class="article-panel">
	<p class="first">Объект страхования: {{p.ins_object.name}}</p>
</div>
	{% if p.is_activated  %}
		<p>Страховка активна</p>
	{% else %}
		<p>Страховка НЕ активна</p>
		<a class="btn btn-primary" href="/activate_contract?id={{ p.id }}" role="button">Активировать</a>
	{% endif %}
	<p>Время создания: {{p.time_create}}</p>
	<p>Время окончания: {{p.time_end}}</p>
	<p>Агент заключивший  страховку: {{p.ins_agent.first_name}} {{p.ins_agent.last_name}} {{p.ins_agent.surname}}</p>
	<p>Общая стоимость сделки: {{p.total_cost}}</p>

	<div class="clear"></div>
	</li>
	{% endfor %}
</ul>
{% endblock %}
