{% load static %}
<div class="navbar">
    <ul>
        <li><img class="animated-logo" src='{% static "images/logo.png" %}' alt="logo" width="60" height="48" style="margin-right: 10px; margin-left: 20px"></li>
        <li><p class="company-name">СКДТ</p></li>
        {% for m in menu %}
            <li>
                <a href="{% url m.url_name %}">{{m.title}}</a>
            </li>
        {% endfor %}

        <!-- Информация пользователя -->
        {% if user.is_authenticated == True %}
            <li style="margin-left: auto;">
                <p> {{ user }} </p>
            </li>
            <li style="margin-right: 0;">
                <a href="{% url 'logout' %}"> Выйти из профиля </a>
            </li>
        {% else %}
            <li style="margin-left: auto;"><a href="{% url 'register' %}"> Регистрация </a></li>
            <li style="margin-right: 0;"><a href="{% url 'login' %}"> Войти </a></li>
        {% endif %}
        <!-- Информация пользователя - конец -->
    </ul>
</div>
