{% extends 'base.html' %}
{% block content %}
<h1>Ваши объекты</h1>
<a class="button" href="/add_object" role="button">Зарегистрировать новый объект</a>

<p><a class="animated-link" href="/objects?sort=name">Сортировать по имени</a></p>
<p><a class="animated-link" href="/objects?sort=cost">Сортировать по стоимости</a></p>
		{% for o in objects %}
            <div class="card">
                <div class="card-top"><img class="card-image" src="{{ o.photo.url }}" alt="Card image cap"/></div>
                <div class="card-mid">
                    <h4 class="card-title">{{ o.name }} </h4>
                    <label class="card-desc">
                        Цена объекта: {{o.cost}} $<br>
                        Категория страховочных рисков объекта: {{o.insured_risks}}<br>
                        Категория страховки: {{o.ins_cat.name}}<br>
                        <a class="button" href="/delete_object?id={{ o.id }}">Удалить объект (страховки сгорят)</a>
                        <a class="button" href="/update_object?id={{ o.id }}">Изменить данные (Некоторые)</a>
                    </label>
                    <div class="card-blur-zone"></div>
                </div>
            </div>
		{% endfor %}
{% endblock %}
