{% extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <h1>Авторизация пользователя</h1>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label for="id_username">Имя пользователя</label>
            <input type="text" name="username" id="id_username" placeholder="Введите имя пользователя">
            <br>

            <label for="id_password">Пароль</label>
            <input type="password" name="password" id="id_password" placeholder="Введите свой пароль">
            <br>
            <button type="submit">Войти</button>
        </form>
        <br/>
        <p>Ещё не зарегистрированы? Зарегистрируйтесь <a href="{% url 'register' %}">тут</a></p>     
    {% endif %}
{% endblock content%}