{% extends 'base.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; justify-content: space-evenly; margin-left: 100px; height: 500px; margin-bottom: 200px;">
    {% if form.errors %}
        <p>Возникли ошибки с регистрацией</p>
    {% endif %}
    <h1>Регистрация пользователя</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="button" type="submit">Зарегистрировать</button>
    </form>
    <form id="age-form" style="margin-top: 20px">
        <label class="small mb-1" for="birthdate">Дата рождения:</label><br>
        <input type="date" id="birthdate" required>
        <div class="small mb-1" id="resultDate"></div>
    </form>
</div>
{% endblock %}
