{% extends 'base.html' %}

{% block content %}
<div style="display: flex; flex-direction: column; justify-content: space-evenly; margin-left: 100px; height: 500px; margin-bottom: 200px;">
    {% if form.errors %}
        <p>Возникли ошибки с регистрацией</p>
    {% endif %}
    <h1>Регистрация пользователя</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <br></br>

        <button class="button" type="submit">Зарегистрировать</button>
    </form>
</div>
{% endblock %}
