<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{{title}}</title>
	<!-- <link type="text/css" href="{% static 'insurance/css/styles.css' %}" rel="stylesheet" /> -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- INCLUDE CSS -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
	{% block mainmenu %}
	<div class="container">
		<!-- Панель навигации -->
	
		<!-- Панель ссылок -->
		<li class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<ul class="navbar-nav">
					<li class="navbar-brand">
						Агенство страхования
					</li>
					{% for m in menu %}
					<li class="nav-tem">
						<a class="nav-link" href="{% url m.url_name %}">{{m.title}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
	
			<!-- Информация пользователя -->
			{% if not user.is_authenticated %}
			<ul id="mainmenu" class="mainmenu">
				<li><a class="navbar-text ms-auto" href="{% url 'register' %}">Регистрация |</a> <a class="navbar-text ms-auto" href="{% url 'login' %}">Войти</a></li>
			</ul>
			{% else %}
			<div class="dropdown ms-4 nav-color">
				<button class="btn btn-secondary dropdown-toggle"
						type="button" id="dropdownMenuButton"
						data-bs-toggle="dropdown"
						aria-expanded="false">
					{{ user }}
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li>
						<span class="dropdown-item-text">
							{{ user }}
						</span>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<form id="logoutForm" class="form-inline">
							<button id="logout" type="submit" class="nav-link btn btn-link text-dark" href="{% url 'logout' %}">
								Выйти из профиля
							</button>
						</form>
					</li>
				</ul>
			</div>
			{% endif %}
			<!-- Информация пользователя - конец -->
	
		</nav>
	
	</div><!-- container - конец -->
	{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% for c in sidebar_menu %}

	{% if c.url_name == cat_selected %}
		<li class="selected">{{c.title}}</li>
	{% else %}
		<li><a href="{% url c.url_name %}">{{c.title}}</a></li>
	{% endif %}

{% endfor %}
		{% if user.is_authenticated %}
			<li><a href="{% url logout_url %}">Выйти</a></li>
		{% endif %}
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
</td></tr></table>
<!-- Конец footer'а и страницы -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
