{% extends 'insurance/base.html' %}
{% block content %}
{% for msg in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>Внимание!</strong> {{ msg }}
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
<h1>Возможные виды страхований</h1>

<p style="font-size:75%;"><a href="/?sort=name">Сортировать по имени</a></p>
<p style="font-size:75%;"><a href="/?sort=ins_coef">Сортировать по стоимости</a></p>

<ul class="list-articles">
	{% for p in categories %}
			<li><div class="article-panel">
	<p class="first">Категория: {{p.name}}</p>
</div>
{% if p.photo %}
	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
{% endif %}
				<h2>{{p.name}}</h2>
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			</li>
	{% endfor %}
</ul>
{% endblock %}
