/* Пример CSS-правил для использования скачанного шрифта */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    /* Дополнительные форматы шрифта, если необходимо */
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #f0f0f0;
}

body {
    font-family: 'Roboto-Regular', 'Open-Sans', sans-serif;
    background: var(--primary-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: black;
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0.2em 0;
    overflow: hidden;
}

a:hover {
    color: #000;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms,  300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(100%, 0, 0);
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    top: 0;
    transition: 0.5s;
    height: 40px;
}

.logo {
    position: relative;
    cursor: pointer;
    height: 48px;
    width: 48px;
}

#navbar {
    color: var(--primary-color);
    flex-grow: 4;
    list-style: none;
    margin: 0;
    padding: 0;
}

#user-info {
    color: var(--primary-color);
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
}

#navbar li,
#user-info li {
    color: var(--primary-color);
    vertical-align: middle;
    display: inline-block;
    padding: 0 20px;
}

#navbar li a,
#user-info li a, #user-info li p {
    font-size: 18px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    border-width: 0;
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
    border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

section h1 {
    font-size: 42px;
}

section p {
    font-size: 24px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.smoke-hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.smoke-show {
    opacity: 1;
    filter: blur(0);
}

[class*="bar"] {
    background-color: rgba(255, 0, 0, 0);
}

.main {
    overflow: hidden;
    margin-top: 80px;
    margin-right: 0;
    margin-left: 0;
    padding: 20px;
}

.card ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none; /* Убираем маркеры списка */
    justify-content: start; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
}

/* Стили для четных элементов списка */
.card ul li:nth-child(even) {
    background-color: #55c4d4;
}

.card li {
    overflow: hidden;
    background-color: var(--secondary-color);
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.card li img {
    padding: 10px;
    height: 200px;
    width: 340px;
}

.card h1, h2, h3, h4 {
    text-align: center;
}

.ad {
    background-color: var(--secondary-color);
    height: 180px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    right: 0;
    top: 100px;
    position: absolute;
}

.ad a img {
    padding: 10px;
    height: 110px;
    width: 180px;
}

table {
    background-color: var(--primary-color);
    border: 5px solid darkgray;
    border-collapse: collapse;
}

table th {
    background-color: var(--secondary-color);
}

tr:last-child {
    background-color: var(--third-color);
}

/* Стили для доступных элементов формы */
input:enabled,
select:enabled,
textarea:enabled {
    border: 2px solid var(--third-color);
}

/* Стили для обязательных элементов формы */
input:required,
select:required,
textarea:required {
    border: 2px solid var(--secondary-color);
}

input:active,
select:active,
textarea:active {
    border: 2px solid var(--secondary-color);
}

/* Стили для заблокированных элементов формы */
input:disabled,
select:disabled,
textarea:disabled {
    opacity: 0.6;
    pointer-events: none;
}

/* Стили для элементов с значениями вне диапазона */
input[type="number"]:out-of-range {
    background-color: #FF5733;
    color: var(--text-color);
}

/* Стили для включенных флажков и переключателей */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--secondary-color);
    color: white;
}

q::before {
    content: "“"; /* Левая кавычка для английского языка */
}

q::after {
    content: "”"; /* Правая кавычка для английского языка */
}

q[lang="ru"]::before {
    content: "«"; /* Левая кавычка для русского языка */
}

q[lang="ru"]::after {
    content: "»"; /* Правая кавычка для русского языка */
}

p.article:first-letter {
    font-weight: bold;
    color: var(--dark-blue);
}

dd:before {
    content: "%";
}

::selection {
    background-color: black;
    color: white;
}

@media (max-width: 900px) {
    .sidebar {
        width: 50px;
    }
    .sidebar li {
        overflow: hidden;
        white-space: nowrap;
        max-width: 30px; /* Минимальная ширина */
        max-height: 30px; /* Минимальная высота */
    }
    .main {
        margin-left: 60px;
        margin-right: 10px;
        overflow-x: scroll;
    }
    .ad {
        width: 0;
        visibility: hidden;
    }
}

button:hover {
    cursor: pointer; /* Изменяем вид курсора на указатель при наведении на кнопку */
}

p {
    margin: 5px; /* Отступы */
    padding: 5px; /* Поля */
    text-indent: 2em;
}

/* Стили для списка компаний-партнеров */
.partner-list {
    display: flex; /* Располагаем элементы горизонтально */
    justify-content: center; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

/* Стили для каждой компании-партнера */
.partner {
    padding: 10px;
    width: 40px; /* Настройка ширины блока */
    height: 40px; /* Настройка высоты блока (можно изменить по вашим предпочтениям) */
    background-color: var(--secondary-color); /* Настройка цвета фона */
    border-radius: 50%; /* Создаем круглую форму блока */
    text-align: center; /* Выравниваем текст по центру */
    color: var(--text-color); /* Цвет текста */
    font-weight: bold; /* Жирный шрифт для текста */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Добавляем тень */
    margin: 10px; /* Задаем отступ между блоками */
}

/* Стили для текста внутри блока */
.partner img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине блока */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-bottom: 10px; /* Отступ снизу от изображения */
}

.company-name {
    margin-left: 0;
    margin-right: 30px;
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Толщина шрифта (например, bold для жирного) */
    letter-spacing: 2px; /* Кернинг (расстояние между буквами) */
    color: var(--text-color); /* Цвет текста */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
}

.animated-text {
    font-size: 8px;
    animation: sizingText 4s cubic-bezier(0.5, 0.5, 0.4, 1.2) infinite; /* Имя анимации, длительность, функция времени и повторение */
    transform-origin: center; /* Ось вращения - центр */
}

@keyframes sizingText {
    0% {
        transform: scale(1); /* Начальное положение - 0 градусов */
    }
    50% {
        transform:scale(1.1); /* Конечное положение - 360 градусов (полный оборот) */
    }
    100% {
        transform:scale(1);
    }
}

.animated-logo {
    animation: rotateLogo 2s ease infinite; /* Имя анимации, длительность, функция времени и повторение */
    transform-origin: center; /* Ось вращения - центр */
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg) scale(1); /* Начальное положение - 0 градусов */
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.sentence-container {
    text-overflow: ellipsis;/* Обрезать лишний текст */
    white-space: nowrap;
    height: 18px;
    width: 340px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
    text-decoration: none;
}

.sentence-container::after {
    content: "...";
}

.certificate {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.background-image {
    width: 440px;
    height: 540px;
    background-image: url('../images/certificate_background.jpg');
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}

.border {
    width: 100%;
    height: 100%;
    background-image: url('../images/certificate_border.png');
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
}

.text {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color); /* Цвет текста */
    font-family: 'Pacifico', cursive;
    font-size: 24px; /* Размер шрифта */
}

.requisites a {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}