/* Пример CSS-правил для использования скачанного шрифта */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    /* Дополнительные форматы шрифта, если необходимо */
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #FBE8A6;
    --secondary-color: #B4DFE5;
    --background-color: #FBE8A6;
    --text-color: black;
    --third-color: #55c4d4;
    --dark-blue: #3875d7;
}

body {
    font-family: 'Roboto-Regular', 'Open-Sans', sans-serif;
    background: radial-gradient(circle at top left, var(--background-color), var(--secondary-color));
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, a {
    text-decoration: none; /* Убираем подчеркивание текста ссылок */
    color: var(--text-color); /* Цвет текста ссылок */
}

a {
    display: inline-block;
    transition: transform 0.2s;
}

a:hover {
    transform: scale(1.1); /* Увеличение размера при наведении на ссылку */
}

a:link {
    color: var(--text-color); /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

/* Стили для посещенных ссылок */
a:visited {
    color: #800080; /* Цвет текста для посещенных ссылок (пурпурный) */
}

a:focus {
    outline: 2px solid var(--primary-color); /* Цвет обводки при фокусе */
}

/* Основные стили навигационной панели */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px; /* Внутренние отступы */
    margin: 0;
    height: 70px;
}

/* Стили для списка ссылок */
.navbar ul {
    width: 100%;
    height: 100%;
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    display: flex; /* Используем flex-контейнер для выравнивания по центру */
    justify-content: start; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
}

/* Стили для элементов списка */
.navbar li {
    display: inline-block; /* Элементы списка на одной строке */
    margin-right: 20px; /* Отступ между элементами */
}

/* Стили для ссылок */
.navbar a {
    font-size: 18px;
    font-weight: bold; /* Жирное начертание */
}

/* Стили для активной ссылки */
.navbar a.active {
    color: blueviolet; /* Цвет активной ссылки */
}

.sidebar {
    color: var(--text-color); /* Цвет текста в сайдбаре */
    position: fixed;
    top: 70px;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 250px;
    height: 100%;
    padding: 10px;
}

/* Стили для заголовка сайдбара */
.sidebar h2 {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
}

/* Стили для списка в сайдбаре */
.sidebar ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: auto;
}

/* Стили для элементов списка в сайдбаре */
.sidebar li {
    margin: 30px;
}

/* Стили для ссылок в сайдбаре */
.sidebar a {
    color: var(--text-color); /* Цвет текста ссылок */
    font-weight: bold; /* Жирное начертание текста ссылок */
}

[class*="bar"] {
    background-color: rgba(255, 0, 0, 0);
}

.main {
    margin-right: 220px;
    margin-left: 300px;
    padding: 10px;
}

.card ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none; /* Убираем маркеры списка */
    justify-content: start; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
}

/* Стили для четных элементов списка */
.card ul li:nth-child(even) {
    background-color: #55c4d4;
}

.card li {
    overflow: hidden;
    background-color: var(--secondary-color);
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.card li img {
    padding: 10px;
    height: 200px;
    width: 340px;
}

.card h1, h2, h3, h4 {
    text-align: center;
}

.ad {
    background-color: var(--secondary-color);
    height: 300px;
    padding: 10px;
    width: 310px;
    border-radius: 10px;
    right: 0;
    top: 100px;
    position: fixed;
}

.ad a img {
    padding: 10px;
    height: 200px;
    width: 290px;
}

table {
    background-color: var(--primary-color);
    border: 5px solid darkgray;
    border-collapse: collapse;
}

table th {
    background-color: var(--secondary-color);
}

tr:last-child {
    background-color: var(--third-color);
}

/* Стили для доступных элементов формы */
input:enabled,
select:enabled,
textarea:enabled {
    border: 2px solid var(--third-color);
}

/* Стили для обязательных элементов формы */
input:required,
select:required,
textarea:required {
    border: 2px solid var(--secondary-color);
}

input:active,
select:active,
textarea:active {
    border: 2px solid var(--secondary-color);
}

/* Стили для заблокированных элементов формы */
input:disabled,
select:disabled,
textarea:disabled {
    opacity: 0.6;
    pointer-events: none;
}

/* Стили для элементов с значениями вне диапазона */
input[type="number"]:out-of-range {
    background-color: #FF5733;
    color: var(--text-color);
}

/* Стили для включенных флажков и переключателей */
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    background-color: var(--secondary-color);
    color: white;
}

q::before {
    content: "“"; /* Левая кавычка для английского языка */
}

q::after {
    content: "”"; /* Правая кавычка для английского языка */
}

q[lang="ru"]::before {
    content: "«"; /* Левая кавычка для русского языка */
}

q[lang="ru"]::after {
    content: "»"; /* Правая кавычка для русского языка */
}

p.article:first-letter {
    font-weight: bold;
    color: var(--dark-blue);
}

dd:before {
    content: "%";
}

::selection {
    background-color: var(--secondary-color); /* Цвет фона для выделенного текста */
    color: blue; /* Цвет текста для выделенного текста */
}

@media (max-width: 900px) {
    .sidebar {
        width: 50px;
    }
    .sidebar li {
        overflow: hidden;
        white-space: nowrap;
        max-width: 30px; /* Минимальная ширина */
        max-height: 30px; /* Минимальная высота */
    }
    .main {
        margin-left: 60px;
        margin-right: 200px;
    }
    .ad {
        visibility: hidden;
    }
}

button:hover {
    cursor: pointer; /* Изменяем вид курсора на указатель при наведении на кнопку */
}

p {
    margin: 5px; /* Отступы */
    padding: 5px; /* Поля */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    text-indent: 2em; /* Красная строка */
    line-height: 1.5; /* Межстрочный интервал */
    font-variant: small-caps; /* Замена нижнего регистра на капитель */
    letter-spacing: 1px; /* Интервал между символами */
    word-spacing: 3px; /* Интервал между словами */
    font-family: 'Roboto-Regular', sans-serif; /* Шрифт */
    text-align: left; /* Выравнивание текста*/
    position: static; /* Позиционирование блока */
    border: 0; /* Граница */
    font-size: 12px;
    font-weight: bold;
}

/* Стили для списка компаний-партнеров */
.partner-list {
    display: flex; /* Располагаем элементы горизонтально */
    justify-content: center; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

/* Стили для каждой компании-партнера */
.partner {
    padding: 10px;
    width: 40px; /* Настройка ширины блока */
    height: 40px; /* Настройка высоты блока (можно изменить по вашим предпочтениям) */
    background-color: var(--secondary-color); /* Настройка цвета фона */
    border-radius: 50%; /* Создаем круглую форму блока */
    text-align: center; /* Выравниваем текст по центру */
    color: var(--text-color); /* Цвет текста */
    font-weight: bold; /* Жирный шрифт для текста */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Добавляем тень */
    margin: 10px; /* Задаем отступ между блоками */
}

/* Стили для текста внутри блока */
.partner img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине блока */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-bottom: 10px; /* Отступ снизу от изображения */
}

.company-name {
    margin-left: 0;
    margin-right: 30px;
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Толщина шрифта (например, bold для жирного) */
    letter-spacing: 2px; /* Кернинг (расстояние между буквами) */
    color: var(--text-color); /* Цвет текста */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
}

.animated-text {
    font-size: 12px;
    animation: sizingText 4s cubic-bezier(0.5, 0.5, 0.4, 1.2) infinite; /* Имя анимации, длительность, функция времени и повторение */
    transform-origin: center; /* Ось вращения - центр */
}

@keyframes sizingText {
    0% {
        transform: scale(1); /* Начальное положение - 0 градусов */
    }
    50% {
        transform:scale(1.3); /* Конечное положение - 360 градусов (полный оборот) */
    }
    100% {
        transform:scale(1);
    }
}

.animated-logo {
    animation: rotateLogo 2s ease infinite; /* Имя анимации, длительность, функция времени и повторение */
    transform-origin: center; /* Ось вращения - центр */
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg) scale(1); /* Начальное положение - 0 градусов */
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.sentence-container {
    text-overflow: ellipsis;/* Обрезать лишний текст */
    white-space: nowrap;
    height: 18px;
    width: 340px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: center;
    text-decoration: none;
}

.sentence-container::after {
    content: "...";
}

.certificate {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.background-image {
    width: 440px;
    height: 540px;
    background-image: url('../images/certificate_background.jpg');
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}

.border {
    width: 100%;
    height: 100%;
    background-image: url('../images/certificate_border.png');
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;
}

.text {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color); /* Цвет текста */
    font-family: 'Pacifico', cursive;
    font-size: 24px; /* Размер шрифта */
}

.requisites a {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}