/* Пример CSS-правил для использования скачанного шрифта */
@font-face {
    font-family: 'Roboto-Regular';
    src: url('% static "fonts/Roboto-Regular.ttf" %}') format('ttf');
    /* Дополнительные форматы шрифта, если необходимо */
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #FBE8A6;
    --secondary-color: #FBE8A6;
    --background-color: #FBE8A6;
    --text-color: black;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, a {
    text-decoration: none; /* Убираем подчеркивание текста ссылок */
    color: var(--text-color); /* Цвет текста ссылок */
}

/* Основные стили навигационной панели */
.navbar {
    background-color: var(--primary-color); /* Цвет фона */
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px; /* Внутренние отступы */
    margin: 0;
    height: 70px;
}

/* Стили для списка ссылок */
.navbar ul {
    width: 100%;
    height: 100%;
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    display: flex; /* Используем flex-контейнер для выравнивания по центру */
    justify-content: start; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
}

/* Стили для элементов списка */
.navbar li {
    display: inline-block; /* Элементы списка на одной строке */
    margin-right: 20px; /* Отступ между элементами */
}

/* Стили для ссылок */
.navbar a {
    text-decoration: none; /* Убираем подчеркивание текста ссылок */
    font-size: 18px;
    font-weight: bold; /* Жирное начертание */
}

/* Стили для активной ссылки */
.navbar a.active {
    color: #f00; /* Цвет активной ссылки */
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--text-color); /* Цвет текста в сайдбаре */
    position: fixed;
    top: 70px;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 250px;
    height: 100%;
    padding: 10px;
}

/* Стили для заголовка сайдбара */
.sidebar h2 {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
}

/* Стили для списка в сайдбаре */
.sidebar ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}

/* Стили для элементов списка в сайдбаре */
.sidebar li {
    margin-top: 30px; 
    margin-bottom: 30px; /* Отступ между элементами списка */
}

/* Стили для ссылок в сайдбаре */
.sidebar a {
    text-decoration: none; /* Убираем подчеркивание текста ссылок */
    color: var(--text-color); /* Цвет текста ссылок */
    font-weight: bold; /* Жирное начертание текста ссылок */
}

.main {
    margin-left: 300px;
    padding: 10px;
}
